In [5]:
# run the initial package
library(cowplot)
library(digest)
library(gridExtra)
library(infer)
library(repr)
library(tidyverse)
library(datateachr)
library(tidyverse) 
options(repr.matrix.max.rows = 6)
library("ggplot2")
library("GGally")

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [10]:
# Load dataset
studentset <- read_csv("/home/jupyter/group2 project/stat201/data.csv")
studentset

Rows: 1000 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): type_school, school_accreditation, gender, interest, residence
dbl (4): parent_age, parent_salary, house_area, average_grades
lgl (2): parent_was_in_college, will_go_to_college

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     type_school school_accreditation gender interest        residence
1    Academic    A                    Male   Less Interested Urban
2    Academic    A                    Male   Less Interested Urban
3    Academic    B                    Female Very Interested Urban
⋮    ⋮           ⋮                    ⋮      ⋮               ⋮
998  Vocational  A                    Male   Less Interested Urban
999  Academic    B                    Male   Uncertain       Rural
1000 Academic    B                    Male   Interested      Urban
     parent_age parent_salary house_area average_grades parent_was_in_college
1    56         6950000       83.0       84.09          FALSE
2    57         4410000       76.8       86.91          FALSE
3    50         6500000       80.6       87.43          FALSE
⋮    ⋮          ⋮             ⋮          ⋮              ⋮
998  49         5550000        75.2      79.56          FALSE
999  53         5840000       105.8      87.18           TRUE
1000 50         2940000        69.1      86.13           TRUE
     will_go_to_college
1    TRUE
2    TRUE
3    TRUE
⋮    ⋮
998   TRUE
999   TRUE
1000 FALSE

In [17]:
# filter students' residence and avergae score
student_total<- studentset%>%
    select(residence, average_grades)

student_total

     residence average_grades
1    Urban     84.09
2    Urban     86.91
3    Urban     87.43
⋮    ⋮         ⋮
998  Urban     79.56
999  Rural     87.18
1000 Urban     86.13

We want to test if the residence of students (urban and rural) will influence their performance in study (average grade). We guess students from urban have better score than those from rural.

First let's conduct a hypothesis test to examine students' difference average score from urban and rural in mean.

$H_0$: The mean of students' score from urban is same as the mean of students' score from rural.

$H_1$: The mean of students' score from urban is larger than the mean of students' score from rural.

In [23]:
# first calculate the observed test statistic
obs_diff_in_mean <- 
    student_total%>%
    specify(formula=average_grades~residence)%>%
    calculate(stat= "diff in means", order= c("Urban", "Rural"))
obs_diff_in_mean

  stat
1 -1.479686